{#
/**
* @file
* Theme override to display a UMD Terp Person node.
*/
#}

<div {{attributes}}>
	{{ title_suffix }}
	<h1 class="sr-only">{{ node.title.value }}</h1>
	<div class="container-fluid">
		<div class="row justify-content-center">
			<div class="col-1000-11">
				<div class="profile">
					<div class="row">
						<div class="col-600-4 col-1000-3">
							{% set photo = assets_path ~ '/img/Profiles_Photo_Placeholder.svg' %}
							{% if content.field_umdt_ct_person_photo|field_value %}
								{% set photo = file_url(content.field_umdt_ct_person_photo|field_target_entity.uri.value | image_style('optimized')) %}
							{% endif %}
							<div class="profile-photo">
								<img src="{{ photo }}" alt="{{ node.title.value }}">
							</div>
						</div>
						<div class="col-600-8 col-1000-9">
							<div class="row">
								<div class="col-12">
									<div class="profile-header">
										<h2 class="profile-name">{{ node.title.value }}</h2>
										{% if content.field_umdt_ct_person_title|field_value %}
											<div class="profile-title">{{ content.field_umdt_ct_person_title|field_value }}</div>
										{% endif %}
									</div>
								</div>
								{% if content.field_umdt_ct_person_bio|field_value %}
									<div class="col-12">
										<div class="profile-bio editor-content">
											{{ content.field_umdt_ct_person_bio|field_value }}
										</div>
									</div>
								{% endif %}
								<div class="col-1000-6">
									{% set contact_information %}
										{% if phone %}
											<div>
												<a href="tel:+{{ phone_link }}">
													<span>{{ phone }}</span>
													{% if phone_ext %}
														{{ phone_ext }}
													{% endif %}
												</a>
											</div>
										{% endif %}
										{% if content.field_umdt_ct_person_email|field_value %}
											<div>
												<a href="mailto:{{ content.field_umdt_ct_person_email|field_value }}">{{ content.field_umdt_ct_person_email|field_value }}</a>
											</div>
										{% endif %}
										{% if content.field_umdt_ct_person_website|field_value %}
											<div>
												<a href="{{ content.field_umdt_ct_person_website }}" target="_blank">Personal Website</a>
											</div>
										{% endif %}
										{% if content.field_umdt_ct_person_location|field_value %}
											<div>{{ content.field_umdt_ct_person_location|field_value }}</div>
										{% endif %}
									{% endset %}
									{% if contact_information|trim is not empty %}
										<h3 class="profile-subheading">Contact</h3>
										{{ contact_information }}
									{% endif %}
								</div>
								<div class="col-1000-6">
									{% if departments %}
										<h3 class="profile-subheading">{{ umd_terp_people_department_label|default('Department Information') }}</h3>
										<ul>
											{% for department in departments %}
												<li>
													{% if department.link %}
														<a href="{{ department.link }}">{{ department.title }}</a>
													{% else %}
														{{ department.title }}
													{% endif %}
												</li>
											{% endfor %}
										</ul>
									{% endif %}
								</div>
								{% if content.body|field_value %}
									<div class="col-12">
										<div class="editor-content">
											{{ content.body|field_value }}
										</div>
									</div>
								{% endif %}
							</div>
						</div>
					</div>
				</div>
				{{ content.field_umdt_ct_sections }}
			</div>
		</div>
	</div>
</div>
{{ content|without('body', 'field_umdt_ct_person_author_stat', 'field_umdt_ct_person_bio', 'field_umdt_ct_person_departments', 'field_umdt_ct_person_email', 'field_umdt_ct_person_first_name', 'field_umdt_ct_hero_image', 'field_umdt_ct_person_last_name', 'field_umdt_ct_person_location', 'field_umdt_ct_person_phone', 'field_umdt_ct_person_phone_ext', 'field_umdt_ct_person_photo', 'field_umdt_ct_sections', 'field_umdt_ct_person_title', 'field_umdt_ct_person_website') }}

