{#
/**
 * @file
 * Displays global header.
 *
 */
#}

{%
  set header_classes = [
    'site-header',
    umd_terp_header_light ? 'site-header-light',
  ]
%}
<header class="{{ header_classes|join(' ') }}">
	<div class="max-bound">
		<nav class="navbar navbar-expand-1024" aria-label="Main">
			<a class="navbar-brand" href="{{ path('<front>') }}">
				{% if logo_path %}
					<img src="{{ logo_path }}" alt="{{ site_name }} logo">
				{% else %}
					<span role="img" aria-label="{{ site_name }} logo" class="navbar-brand-text">
						<span aria-hidden="true">{{ site_name }}</span>
					</span>
				{% endif %}
			</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-offcanvas" aria-controls="navbar-offcanvas" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-hamburger-icon" role="presentation">
					<span role="presentation"></span>
					<span role="presentation"></span>
					<span role="presentation"></span>
					<span role="presentation"></span>
				</span>
				<span class="sr-only"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbar-offcanvas">
				{{ drupal_menu('main', 1, 1, TRUE) }}
			</div>
		</nav>
	</div>
</header>
