{#
/**
 * @file
 * Theme override to display a UMD Terp Event node Teaser.
 */
#}

<div class="feed-item">
	<div class="row no-gutters align-items-start">
		<div class="col">
			<div class="feed-item-body">
        {% if node.field_umdt_ct_event_start_date.value ==  node.field_umdt_ct_event_end_date.value %}
          <div class="feed-item-date">{{ node.field_umdt_ct_event_start_date.value|date('F j, Y') }}</div>
        {% else %}
          <div class="feed-item-date">{{ node.field_umdt_ct_event_start_date.value|date('F j, Y') }} - {{ node.field_umdt_ct_event_end_date.value|date('F j, Y') }}</div>
        {% endif %}
				<h2 class="feed-item-title">
					<a href="{{ link }}">{{ node.title.value }}</a>
				</h2>
				<div class="feed-item-description">
					<p>{{ content.body|render|striptags }}</p>
          {% spaceless %}
            <a href="{{ link }}" class="btn btn-primary">
              View Event Details<span class="sr-only"> for {{ node.title.value }}</span>
            </a>
          {% endspaceless %}
				</div>
			</div>
		</div>
	</div>
</div>
