<div class="profile-card card">
  <div class="card-img card-img-top">
    <img src="{{photo|path}}" alt="Portrait of {{name}}">
  </div>
  <div class="card-body">
    <h2 class="card-title">{{name}}</h2>
    <div class="profile-card-title">{{title}}</div>
    <div class="mb-2">
      <a href="tel:+1{{phone}}" class="profile-card-phone">{{phone}}</a>
    </div>
    <div>
      <a href="{{url}}" class="card-cta">View Profile<span class="sr-only"> for {{name}}</span></a>
    </div>
  </div>
</div>
